.header {
    background-image: linear-gradient(147deg, #2d055e, #e2127b);
    color: white;
}

.img-icon {
    width: 25px;
    border-radius: 15px;
    cursor: pointer;
}
.title{
    font-weight: 600;

}