/* new login form */
.wrapper-page {
    margin: 7.5% auto;
    // width: 420px;
    width: 1200px;
    padding: 7.5%;
  }
  
  .bg-card {
    background-color: #ecf0f3;
  }
  
  .card-pages {
    border-radius: 6px;
  }
  
  .card-pages .card-header {
    border-radius: 6px 6px 0px 0px;
    padding: 40px 20px;
    position: relative;
  }
  
  .card-pages .card-header h3 {
    position: relative;
    z-index: 999;
  }
  
  .bg-img {
    background: url('/assets/images/bg.jpg') center;
  }
  
  .bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .card-pages .card-body {
    padding: 22px 0px !important;
  }
  
  .card-pages .card-header h3 {
    position: relative;
    z-index: 999;
  }
  
  .m-t-10 {
    margin-top: 10px !important;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  h3 {
    line-height: 30px;
    font-size: 24px;
    line-height: 30px;
    font-size: 24px;
    margin: 8px;
    padding: 25px;
  }
  
  .m-t-20 {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .input-lg {
    height: 46px;
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 0px;
    // width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;

    font-weight: 600;
  }
 
  input,
  button,
  select,
  optgroup,
  textarea {
    margin: 4px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .code {
    position: absolute;
    top: 59%;
    right: 55px;
  }
  
  label {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }
  
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  
  .checkbox {
    padding-left: 8px;
  }
  
  // .bg-overlay{
  // background-color: rgba(0,0,0,.6);
  // }
  .bg-overlay {
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    background-color: rgba(49, 126, 235, 0.4);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 6px 6px 0px 0px;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .checkbox label::after {
    color: #555555;
    display: inline-block;
    font-size: 11px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 1px;
    width: 16px;
  }
  
  .checkbox label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #cccccc;
    content: "";
    display: inline-block;
    height: 20px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 20px;
    outline: none !important;
    margin-top: 1px;
  }
  
  .checkbox label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    font-weight: 400;
  }
  
  label {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }
  
  .checkbox-primary input[type='checkbox']:checked+label::before {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .checkbox label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #cccccc;
    content: '';
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 17px;
    outline: none !important;
  }
  
  .checkbox-primary input[type='checkbox']:checked+label::after {
    color: #ffffff;
  }
  
  .checkbox input[type='checkbox']:checked+label::after {
    content: '\f00c';
    font-family: 'FontAwesome';
  }
  
  .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
  }
  
  .btn-inverse,
  .btn-inverse:hover,
  .btn-inverse:focus,
  .btn-inverse:active,
  .btn-inverse.active,
  .btn-inverse.focus,
  .btn-inverse:active,
  .btn-inverse:focus,
  .btn-inverse:hover,
  .open>.dropdown-toggle.btn-inverse {
    background-color: #212121 !important;
    border: 1px solid #212121 !important;
    color: #fff;
    font-family: sans-serif;
  }
  
  .btn,
  .btn-primary,
  .btn-success,
  .btn-info,
  .btn-warning,
  .btn-danger,
  .btn-inverse,
  .btn-purple,
  .btn-pink {
    color: #ffffff !important;
    // padding: .15rem .75rem;
  }
  
  .btn {
    // font-size: 12px;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.2px;
  }
  
  .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .w-lg {
    min-width: 140px;
  }
  
  .button {
    position: relative;
    // background-color: var(--primary-color);
    border: none;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    // background-image: linear-gradient(40deg, #2d055e, #e2127b);
    background-image: linear-gradient(302deg, #2d055e, #e2127b);
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;

    font-weight: 600;
  }
  
  // .button:after {
  //   content: '';
  //   background: #eee;
  //   display: block;
  //   position: absolute;
  //   padding-top: 300%;
  //   padding-left: 350%;
  //   margin-left: -20px !important;
  //   margin-top: -120%;
  //   opacity: 0;
  //   transition: all 0.8s;
  // }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }
  
  .welcome-img {
    background: url('/assets/images/1.jpg') center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  @media (max-width: 767px) {
    .card-pages {
      // margin-right: 80px;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  
  .login-form {
    width: 40%;
    margin: auto;
  
    .label {
      color: white;
      font-size: 20px;
      display: block;
    }
  
    .font-bold {
      font-weight: bolder;
      letter-spacing: 0.5px;
    }
  }
  
  .mb-10 {
    margin-bottom: 10px;
  }
  
  .bg-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
    font-weight: 700;
  
    &:hover {
      background-color: #449d44;
      border-color: #398439;
    }
  }
  
  .txt-register {
    color: #f49c1e;
  }
  
  .txt-register:hover {
    opacity: 0.9;
  }
  
  .custom-card {
    border-radius: 0.25rem;
    box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
    border: none;
    transition: all 0.3s ease-in-out;
    background: white;
    border-radius: 20px;
  
    .welcome-text {
      font-size: 34px;
      font-weight: 700;
      line-height: 3;
      color: #fff;
    }
  
    p {
      font-size: 14px;
      letter-spacing: 0.25px;
      text-align: center;
      line-height: 1.6;
      color: white;
      background: var(--primary-color);
      padding: 20px;
      opacity: 0.4;
      margin: 8px;
      border-radius: 5px;
      font-weight: bolder;
      box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
      background-image: linear-gradient(302deg, #2d055e, #e2127b);
    }
  
  }
  
  h3{

    font-weight: 600;
  }
  .welcome-img {
    background: url('/assets/image/book.jpg') center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  @media (max-width: 767px) {
    .login-form {
      width: 80%;
      margin: auto;
    }
  
    .wrapper-page {
      width: unset !important;
    }
  }
  
  .cnps-btn {
    width: 100px;
    float: none;
  }
  
  
  .show-hide-pass {
    top: 10px;
    right: 20px;
    position: absolute;
    cursor: pointer;
  }
  
  @media (max-width:768px) {
    .m-t-20 {
      margin-top: unset !important;
    }
  }