<div class="bg-color">
    <ul>
        <li>
            <i class="fa fa-dashboard" style="font-size:24px"></i><a [routerLink]='["/dashboard"]' >Dashboard</a>
        </li>
        <li>
            <i class='fas fa-book-open' style='font-size:24px'></i><a  [routerLink]='["/book"]'>Book</a>
        </li>
        <li>
            <i class="fa fa-list-alt" style="font-size:24px"></i><a  [routerLink]='["/bookcategories"]'>BookCatgerioes</a>
        </li>
        <li>
            <i class='fa fa-blog' style='font-size:24px'></i><a  [routerLink]='["/blog"]'>Blog</a>
        </li>
        <li>
            <i class="fa fa-user-circle-o" style="font-size:24px"></i><a [routerLink]='["/author"]'>Author</a>
        </li>
        <li>
            <i class='fa fa-address-book' style='font-size:24px'></i><a [routerLink]='["/contactus"]'>Contactus</a>
        </li>
        <li>
            <i class="fa fa-credit-card" style="font-size:24px"></i><a [routerLink]='["/payment"]'>Payment</a>
        </li>
    </ul>
</div>