.bg-color {
    background: white;
    /* border: 1px solid; */
    height: calc(100vh - 50px);
    overflow: auto !important;
    width: 230px;
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07) !important;
    border-radius: 8px;
}

ul {
    padding: 0px;

    li {
        list-style: none;
        padding: 10px;
        cursor: pointer;

        i {
            padding: 5px;
        }

        a {
            color: black;
            text-decoration: none;
            text-align: left;
            border-radius: 4px;
            font-weight: 600;
            line-height: 2.5;
        }
    }
}