<div class="row m-0">
    <div class="col-12 col-sm-4 mt-3">
        <div class="card box">
            <span class="text-center total">Total Book</span>
            <span class="text-center total">{{ sharedService.totalbook || 0}}</span>
        </div>
    </div>
    <div class="col-12 col-sm-4 mt-3">
        <div class="card box">
            <span class="text-center total">Total Catgeries</span>
            <span class="text-center total">{{ sharedService.totalbookCat || 0}}</span>
        </div>
    </div>
    <div class="col-12 col-sm-4 mt-3">
        <div class="card box">
            <span class="text-center total">Total Blog</span>
            <span class="text-center total">{{ sharedService.totalblog || 0}}</span>
        </div>
    </div>
    <div class="col-12 col-sm-4 mt-3">
        <div class="card box">
            <span class="text-center total">Total Inquiry</span>
            <span class="text-center total">{{ sharedService.totalinquiry || 0}}</span>
        </div>
    </div>
    <div class="col-12 col-sm-4 mt-3">
        <div class="card box">
            <span class="text-center total">Total Payment</span>
            <span class="text-center total">{{ sharedService.totalpayment || 0}}</span>
        </div>
    </div>
    <div class="col-12 col-sm-4 mt-3">
        <div class="card box">
            <span class="text-center total">Total Author</span>
            <span class="text-center total">{{ sharedService.totalauthor || 0}}</span>
        </div>
    </div>
</div>